extends layouts/main_layout.pug

block content
  //=JSON.stringify(user)
  div
    h4.mb-3.mt-3(style="font-weight:700") Categories
    include ./layouts/components/categories-card.pug
    h4.mb-3.mt-4(style="font-weight:700") Products
    include ./layouts/components/product-card.pug
