extends layouts/main_layout.pug

block content
  //=JSON.stringify(user)
  // test
  div
    h4 Categories
    .card(style='width: 18rem;')
      img.card-img-top(src='...' alt='...')
      .card-body
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card's content.
