.container-fluid.p-0.w-100
        .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.g-3
          .col
            .card.categorycard.flex-row.align-items-center.justify-content-between.p-4.shadow 
              p.card-text.text-light.m-0.text-nowrap.fw-bold All Products
              i.bx.bxs-shopping-bags.bx-lg.text-light
          .col
            .card.categorycard.flex-row.align-items-center.justify-content-between.p-4.shadow
              p.card-text.text-light.m-0.fw-bold Groceries
              i.bx.bxs-basket.bx-lg.text-light
          .col
            .card.categorycard.flex-row.align-items-center.justify-content-between.p-4.shadow
              p.card-text.text-light.m-0.fw-bold Electronics
              i.bx.bx-devices.bx-lg.text-light
          .col
            .card.categorycard.flex-row.align-items-center.justify-content-between.p-4.shadow
              p.card-text.text-light.m-0.fw-bold Fashion
              i.bx.bx-closet.bx-lg.text-light