.container-fluid.p-0.w-100
      .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.g-3
        .col
          .card.productcard.shadow.p-2
            img.card-img-top(src='/static/img/Mobile-1.svg' alt='...')
            i.bx.bxs-cart-alt.bx-sm.text-black-50
            .card-body.p-0.mt-2
              .product-info
                .card-title.d-inline Camcung Bolt 1
                p.price.d-inline.position-absolute ₹ 30,000
                p.description.card-text This is a Product description section
                .stars
                  span.bx.bxs-star.checked
                  span.bx.bxs-star.checked
                  span.bx.bxs-star.checked
                  span.bx.bxs-star
                  span.bx.bxs-star 
                  span.text-black-50.p-1(style='font-size: 14px;') (100)
              button.buybtn Buy Now
        .col
          .card.productcard.shadow.p-2
            img.card-img-top(src='/static/img/Mobile-2.svg' alt='...')
            i.bx.bxs-cart-alt.bx-sm.text-black-50
            .card-body.p-0.mt-2
              .product-info
                .card-title.d-inline Camcung Bolt 1
                p.price.d-inline.position-absolute ₹ 30,000
                p.description.card-text This is a Product description section
                .stars
                  span.bx.bxs-star.checked
                  span.bx.bxs-star.checked
                  span.bx.bxs-star.checked
                  span.bx.bxs-star
                  span.bx.bxs-star 
                  span.text-black-50.p-1(style='font-size: 14px;') (100)
              button.buybtn Buy Now
        .col
          .card.productcard.shadow.p-2
            img.card-img-top(src='/static/img/Mobile-3.svg' alt='...')
            i.bx.bxs-cart-alt.bx-sm.text-black-50
            .card-body.p-0.mt-2
              .product-info
                .card-title.d-inline Camcung Bolt 1
                p.price.d-inline.position-absolute ₹ 30,000
                p.description.card-text This is a Product description section
                .stars
                  span.bx.bxs-star.checked
                  span.bx.bxs-star.checked
                  span.bx.bxs-star.checked
                  span.bx.bxs-star
                  span.bx.bxs-star 
                  span.text-black-50.p-1(style='font-size: 14px;') (100)
              button.buybtn Buy Now
        .col
          .card.productcard.shadow.p-2
            img.card-img-top(src='/static/img/Mobile-4.svg' alt='...')
            i.bx.bxs-cart-alt.bx-sm.text-black-50
            .card-body.p-0.mt-2
              .product-info
                .card-title.d-inline Camcung Bolt 1
                p.price.d-inline.position-absolute ₹ 30,000
                p.description.card-text This is a Product description section
                .stars
                  span.bx.bxs-star.checked
                  span.bx.bxs-star.checked
                  span.bx.bxs-star.checked
                  span.bx.bxs-star
                  span.bx.bxs-star 
                  span.text-black-50.p-1(style='font-size: 14px;') (100)
              button.buybtn Buy Now
        .col
          .card.productcard.shadow.p-2
            img.card-img-top(src='/static/img/Mobile-5.svg' alt='...')
            i.bx.bxs-cart-alt.bx-sm.text-black-50
            .card-body.p-0.mt-2
              .product-info
                .card-title.d-inline Camcung Bolt 1
                p.price.d-inline.position-absolute ₹ 30,000
                p.description.card-text This is a Product description section
                .stars
                  span.bx.bxs-star.checked
                  span.bx.bxs-star.checked
                  span.bx.bxs-star.checked
                  span.bx.bxs-star
                  span.bx.bxs-star 
                  span.text-black-50.p-1(style='font-size: 14px;') (100)
              button.buybtn Buy Now