#sidebar.navbar.navbar-expand.d-block
  .logo-details.d-flex.align-items-center
    i.bx.bxs-food-menu.icon
    .logo_name.text-light.text-nowrap Order System
    i#menuexpand.bx.bx-menu
  ul.nav-list
    li
      a(href='#')
        i.bx.bx-grid-alt
        span.links_name Home
      span.tooltip Home
    li
      a(href='#')
        i.bx.bx-shopping-bag
        span.links_name Categories
      span.tooltip Categories
    li
      a(href='#')
        i.bx.bx-package
        span.links_name Products
      span.tooltip Products
    li
      a(href='#')
        i.bx.bx-cart-alt
        span.links_name Cart
      span.tooltip Cart
    li
      a(href='#')
        i.bx.bx-pie-chart-alt-2
        span.links_name Analytics
      span.tooltip Analytics
    li
      a(href='#')
        i.bx.bx-heart
        span.links_name Saved
      span.tooltip Saved